body, html{
    margin: 0;
    padding: 0;
    background-color:rgb(203, 226, 245) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px ;
}
.container .white_card .top_white img{
    width: 220px;
    margin-top: 15px;
    border-radius: 4%;
}
.container .white_card{
    background-color: white;
    text-align: center;
    width: 250px;
    border-radius: 5%;
    height: 385px;
    
}
.container .white_card .text .bold{
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    padding:0 25px;
    letter-spacing: 0.1px;
}
.container .white_card .text .faint{
    color: gray;
    font-size: 11.9px;
    padding: 0 20px;
    font-family: sans-serif;
}